/* FONTS */

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat';
    color: #fff;
    background-color: #1e1e1e;
}

a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-size: 0.9rem;
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    padding: 0 2rem;
}

.header.initial {
    width: 50%;
    background-color: rgba(30, 30, 30, 0.4);
}
  

.header.scrolled {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 15px;
}
 
.nav {
    display: flex;
    gap: 1rem;
}

.header-mobile {
    display: none;
}

/* HERO SECTION */

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin-bottom: 100px;
}
 
.hero-content {
    flex: 1;
    padding: 3rem;
}
 
.hero h1 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}
  
.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.benefits {
    list-style: none;
    margin-bottom: 2rem;
}

.benefits li {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.benefits li span {
    color: #e4b38f;
    /* margin-right: 0.5rem; */
    font-weight: 700;
}

  
.hero-order-form button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

.hero-order-form button:hover {
    background-color: #e4b38f;
}
  
.hero-image-container {
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ADAPTIVE */

@media (max-width: 768px) {
    .header.initial {
        width: 100%;
        background-color: rgba(30, 30, 30, 0.4);
    }

    .hero {
        flex-direction: column;
        padding-top: 80px;
    }
}
  
@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        padding-top: 80px;
    }

    .hidden {
        display: none;
    }
    
    .header {
        display: none;
    }
      

    .header-mobile {
        display: block;
        position: relative;
    }

    .header-mobile-logo {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 80px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease;
        background-color: #1e1e1e;
        padding: 0 2rem;
    }

    .header-mobile-button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        width: 15px;
        height: 15px;
    }
    
    .header-mobile-button-image {
        width: 100%;
        height: 100%;
    }
    
    .nav-mobile-container {
        width: 100%;
        background-color: #1e1e1e;
        position: absolute;
        z-index: 10000;
        top: 80px;
        padding: 20px 0;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .nav-mobile-item {
        font-weight: 700;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    
    
}